:host {
  display: block;
  margin-bottom: 2rem;
  font-size: 0.9rem;
}

.breadcrumb-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-text-secondary);

  // Добавляем разделитель
  &:not(:last-child)::after {
    content: '/';
    pointer-events: none; // Чтобы нельзя было кликнуть на разделитель
  }

  a {
    color: var(--color-text-secondary);
    text-decoration: none;
    transition: color var(--transition-speed);

    &:hover {
      color: var(--color-text-primary);
    }
  }

  span {
    font-weight: 500;
    color: var(--color-text-primary);
  }
}
