@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

:host {
  display: block;
  height: 100%;
}

.skeleton-card {
  background-color: var(--color-surface);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__poster {
    padding-top: 150%; // Сохраняем соотношение сторон, как у реальной карточки
  }

  &__info {
    padding: calc(var(--spacing-unit) * 2);
    flex-grow: 1;
  }

  &__title {
    height: 1.1rem;
    width: 80%;
    margin-bottom: calc(var(--spacing-unit) / 2);
    border-radius: 4px;
  }

  &__year {
    height: 0.9rem;
    width: 40%;
    border-radius: 4px;
  }
}

.skeleton-animate {
  position: relative;
  overflow: hidden;
  background-color: var(--color-border);

  // Псевдо-элемент для создания эффекта "мерцания"
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.08), transparent);
    animation: shimmer 1.5s infinite;
  }
}
