<div class="movie-details-page">
  <!-- Условие if проверяет наличие данных -->
  @if (mediaItem(); as itemData) {
    <!-- Контент загружен -->
    <app-breadcrumb [items]="breadcrumbs()"></app-breadcrumb>

    <article class="movie-details-page__content">
      <div class="movie-details-page__poster">
        @if(itemData.poster_path) {
          <img
            [ngSrc]="(itemData.poster_path | tmdbImage) ?? ''"
            [alt]="'Постер ' + itemData.title"
            width="250"
            height="375"
          >
        } @else {
          <div class="movie-details-page__poster-placeholder">Нет постера</div>
        }
      </div>
      <div class="movie-details-page__info">
        <h1 class="movie-details-page__title">{{ itemData.title }} ({{ itemData.release_date | date: 'yyyy' }})</h1>
        <div class="movie-details-page__meta">
          <span class="movie-details-page__rating">★ {{ itemData.vote_average | number: '1.1-1' }}</span>
          <div class="movie-details-page__genres">
            @for (genre of itemData.genres; track genre.id) {
              <span class="movie-details-page__genre-tag">{{ genre.name }}</span>
            }
          </div>
        </div>
        <p class="movie-details-page__description">{{ itemData.overview }}</p>
      </div>
    </article>
  } @else {
    <!-- Данные загружаются: показываем скелетон -->
    <app-skeleton-details></app-skeleton-details>
  }
</div>
