<div class="search-bar">
  <input
    #searchInput
    class="search-bar__input"
    type="text"
    [placeholder]="placeholder()"
    aria-label="Поиск фильмов"
    i18n-aria-label="@@search.ariaLabel"
    [formControl]="searchControl"
  >
  <!-- Кнопка очистки появляется, только если в поле есть значение -->
  @if (searchControl.value) {
    <button
      class="search-bar__clear-btn"
      (click)="clearSearch()"
      aria-label="Очистить поиск"
      i18n-aria-label="@@search.clear"
      type="button"
    >
      &times; <!-- Символ крестика -->
    </button>
  }
</div>
