<div class="page-layout">
  <app-sidebar
    [initialQuery]="searchQuery()"
    [placeholder]="searchPlaceholder()"
    [activeTab]="activeTab()"
    [selectedGenre]="selectedGenre()"
    [genres]="allGenres()"
    (searchChange)="onSearch($event)"
    (genreChange)="onGenreChange($event)"
  ></app-sidebar>

  <!--
    Основной контент: Скроллится.
    Применяем директиву appInfiniteScroll.
    - [disabled] блокирует срабатывание, пока идет загрузка или больше нет страниц.
    - (scrollEnd) вызывает метод подгрузки следующей страницы.
  -->
  <main
    class="content"
    appInfiniteScroll
    [disabled]="isLoading() || isLoadingMore() || !hasMorePages || !!searchQuery()"
    (scrollEnd)="loadNextPage()"
  >
    @if (isLoading()) {
      <app-skeleton-list></app-skeleton-list>
    } @else if (error()) {
      <div class="app-state-indicator app-state-indicator--error">{{ error() }}</div>
    } @else {
      <app-movie-list
        [movies]="filteredMedia()"
        [emptyMessage]="emptyListMessage()"
        (movieClick)="onMediaSelect($event)"
      ></app-movie-list>

      @if (isLoadingMore()) {
        <div class="app-loading-more">
          <div class="spinner"></div>
        </div>
      }
    }
  </main>
</div>
