<article class="movie-card">
  <figure class="movie-card__figure">
    <!-- 1. Если у фильма нет постера -->
    @if (!movie.primaryImage?.url) {
      <div class="movie-card__no-poster">
        <span>Нет постера</span>
      </div>
    }

    <!-- 2. Если постер есть, но он еще загружается -->
    @if (movie.primaryImage?.url && !imageLoaded()) {
      <div class="movie-card__placeholder"></div>
    }

    <!-- 3. Изображение -->
    @if (movie.primaryImage?.url) {
      <img
        class="movie-card__poster"
        [ngSrc]="movie.primaryImage!.url | resizeImage:400"
        [alt]="'Постер ' + (movie.primaryTitle || movie.originalTitle)"
        fill
        [priority]="priority"
        [class.movie-card__poster--loaded]="imageLoaded()"
        (load)="onImageLoad()"
      >
    }

    <!-- Отображаем плашку с рейтингом -->
    @if (movie.rating && movie.rating.aggregateRating > 0) {
      <div class="movie-card__rating">
        ★ {{ movie.rating.aggregateRating | number: '1.1-1' }}
      </div>
    }
  </figure>
  <div class="movie-card__info">
    <h3 class="movie-card__title">{{ movie.primaryTitle || movie.originalTitle }}</h3>

    <!-- Год релиза -->
    @if (movie.startYear) {
      <p class="movie-card__year">{{ movie.startYear }}</p>
    }

    <!-- Отображаем жанры -->
    @if (movie.genres?.length) {
      <div class="movie-card__genres">
        @for (genre of movie.genres!.slice(0, 3); track genre) {
          <span class="movie-card__genre-tag">{{ genre }}</span>
        }
      </div>
    }
  </div>
</article>
