:host {
  display: block;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.app-header {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #333;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  h1 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: 600;
  }

  app-search-bar {
    width: 100%;
    max-width: 400px;
  }
}
