@use '../../../styles/responsive' as *;

:host {
  display: block;
}

.sidebar {
  background-color: var(--color-surface);
  border-radius: var(--border-radius-md);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 10;
  position: sticky;
  top: 7rem;
  max-height: calc(100vh - 9rem);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-border);
    border-radius: 4px;
  }

  @include respond-to('desktop') {
    position: static;
    max-height: none;
    overflow-y: visible;
    top: 0;
  }

  h3 {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-text-secondary);
    margin-bottom: 1rem;
  }
}

.genre-select-wrapper {
  select {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--color-background);
    border: 1px solid var(--color-border);
    color: var(--color-text-primary);
    border-radius: 6px;
    outline: none;
    cursor: pointer;

    &:focus {
      border-color: var(--color-primary);
    }
  }
}
